@media only screen and (max-width : 1024px) {}

@media only screen and (max-width : 900px)  { 
    .coin-stat-content-row {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .market-cap-block {
        min-width: 100%;
        flex: 0;
    }    
}

@media only screen and (max-width : 800px)  {
    .symbol-coin, .changes, .crypto-info-table col {
        display: none;
    }
}

@media only screen and (max-width : 600px)  {
    .content {
        padding: 10px;
    }

    .saidbar {
        width: 70px;
    }

    .content, .header {
        margin-left: 83px;
    }

    .coin-info-table {
        width: 100%;
    }

    .form {
        width: 80%;
    }
}

@media only screen and (max-width : 360px)  {
    .saidbar {
        width: 50px;
    }

    .content, .header {
        margin-left: 52px;
    }

    .mainmenu__list a {
        width: 40px;
        height: 40px;
    }

    .leave-acc-btn {
        bottom: 9%;
        left: 12%;
    }
}