body {
    background: #16052B;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.cryptoStatSPA {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 1 auto;
}

.saidbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    border-right: 2px solid #261E35;
    background: #16052B;
    
}

.active {
    background: #372C44;
}

.content, .header {
    margin-left: 103px;
    padding: 20px 40px 20px 20px;
}

.logo__link {
    position: relative;
}

.logo__link img:last-child {
    position: absolute;
    left: -1px;
    top: -2px;
}

.mainmenu {
    margin-top: 70px;
}

.mainmenu__list a {
    width: 60px;
    height: 60px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.header {
    margin-top: 25px;
    text-align: center;
    position: relative;
}

.header .title {
    text-align: start;
    font-weight: 700;
    font-size: 1.14rem;
}

.leave-acc-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 9%;
    left: 30%;
    background: url('../img/leave_acc.svg') top left no-repeat;
    width: 22px;
    height: 22px;
}

.title::first-letter {
    text-transform: capitalize;
}

.crypto-info-table-block {
    position: relative;
    /* height: 560px; */
}

.crypto-info-table {
    text-align: start;
    width: 100%;
    background-color: #3C354A;
    border-radius: 15px;
}

.checkbox-table {
    min-height: 260px;
    text-align: center;
}

.crypto-info-table caption {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px 0;
}

.crypto-info-table th {
    color: #BFB7B7;
    font-size: 0.8rem;
    height: 60px;
    text-align: start;
    vertical-align:middle;
}

.name-coin a {
    text-decoration: none;
    color: #BFB7B7;
}

.name-coin a:hover {
    text-decoration: underline;
}

.price-coin {
    color: #9292C1;
}

.crypto-info-table td {
    height: 50px;
    vertical-align:middle;
}

.label-coin {
    width: 30px;
    height: 30px;
}

.chart-block {
    background-color: #272230;
    min-height: 270px;
    position: relative;
    height:50vh;
    margin: 0 auto;
    border: 1px solid #3C354A;
    border-radius: 15px;
}

.chart-statistics-block {
    background-color: #272230;
    min-height: 400px;
    /* position: relative; */
    /* height:50vh; */
    /* margin: 0 auto; */
    border: 1px solid #3C354A;
    border-radius: 15px;
}

.coin-info-table-block {
    height: 466px;
}

.coin-stat_title {
    margin-bottom: 12px;
}

.coin-info-table {
    width: 350px;
    text-align: center;
    background-color: #3C354A;
    color: #BFB7B7;
    border-radius: 15px;
}

.stat-table-name-coin {
    text-align: start;
    padding: 10px 0 5px 10px;
}

.stat-table-img-coin {
    text-align: end;
    padding: 10px 10px 5px 0;
}

.coin-info-table td {
    padding: 0 10px;
    text-align: start;
    height: 45px;
    border-top: 1px solid #272230;
    vertical-align: middle;
    border-bottom: 1px solid #272230;
}

.coin-info-table th {
    height: 30px;
    vertical-align: middle;
}

.coin-info-table .table-value {
    padding: 0 10px;
    text-align: end;
}

.analytic-chart {}

.period-block {
    text-align: end;
}

.period {
    margin: 0 0 15px 0;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.show-more {}

.table-btn-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-btn {
    border: none;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    color: #B783EB;
    cursor: pointer;
}

.table-btn:disabled {
    color: #545454;
}

.table-btn:hover {
    background: #372C44;
}

.clear-btn {
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    color: #B783EB;
    cursor: pointer;
    border: none;
}

.clear-btn:hover {
    background: #372C44;
}

.currency-block {
    margin: 20px 0 0 0;
    text-align: end;
}

.currency-select {
    margin: 0 0 15px 0;
}

.select {
    font-family: sans-serif; 
    font-weight: 700; 
    color: rgb(212, 205, 205); 
    line-height: 1.3; 
    padding: .4em .6em .4em .8em;
    width: 100%; 
    max-width: 130px; 
    box-sizing: border-box; 
    border: 1px solid 3C354A;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #372C44; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    cursor: pointer;
} 
.select-css::-ms-expand { 
    display: none; 
} 

.select-css:hover { 
    border-color: #888; 
} 

.select-css:focus { 
    border-color: #aaa; 
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
    outline: none; 
} 
.select-css option {
    font-weight:normal; 
} 

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
background-position: left .7em top 50%, 0 0; 
padding: .6em .8em .5em 1.4em; 
}

.footer {
    border: 2px solid #261E35;
    text-align: center;
}

.footer p {
    color: #BFB7B7;
    padding: 20px 0;
}

.switch-block {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin: 0 0 0 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.market-cap-block {
    /* max-width: 500px;
    width: 100%; */
    min-width: 0;
    flex: 1;
}

.coin-stat-content {
    /* display: flex;
    justify-content: center;
    gap: 60px; */
}

.market-cup-chart {
    height: 467px;
}

.change-market-cup-chart {
    /* max-width: 100%; */
}

.change-prices-chart-block {
    /* max-width: 700px; */
}

.change-total-volume-chart-block {
    /* max-width: 700px; */
}

.change-market-cup-chart-block {
    /* max-width: 700px; */
    /* min-width: 0;
    flex: 1; */
    position: relative;
}

.market-cup-chart-block {
    height: 466.25px;
    position: relative;
}

.type-statistic-block {
    text-align: end;
    margin: 0 0 15px 0;
}

.coin-stat-content-row {
    width: 100%;
    display: flex;
    gap: 40px;
    margin: 0 0 30px 0;
}

.coin-info-table-block {
    position: relative;
}

.coin-info-table-block, .chart-statistics-block {}

.login-btn-container {
    position: absolute;
    top: 21px;
    right: 42px;
}

.show-form-singUp-btn {}

.show-form-login-btn {
    margin: 0 0 0 10px;
}

.show-form-btn {
    border: none;
    cursor: pointer;
}

.show-form-btn:hover {
    color: rgb(172, 172, 172);
}

/* form=============================================== */

.form-overlay {
    text-align: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

.form {
    padding: 40px 20px 20px 20px;
    position: relative;
    background-color: #3f3f3f;
    width: 500px;
    height: 415px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.form-singUp {
    height: 491px;
}

.form label {
    font-size: 1.2rem;
}

.email {
    /* margin: 0 0 20px 0; */
}

.form input {
    background-color: transparent;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(119, 119, 119);
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 0 10px;
}

.userName-input {
    margin-bottom: 15px;
}

.form input:focus {
    border: 1px solid rgb(194, 194, 194);
}

.form-title {
    font-size: 2.2rem;
    margin-bottom: 35px;
}

/* .close-form-btn {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
    cursor: pointer;
} */

.close-form-btn:hover {
    opacity: 1;
}

.close-form-btn:before, .close-form-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: rgb(255, 255, 255);
}

.close-form-btn:before {
    transform: rotate(45deg);
}

.close-form-btn:after {
    transform: rotate(-45deg);
}

.invalid-message + p {
    text-align: center;
    margin: 10px 0 50px 0;
}

.password-form + div p {
    color: rgb(177, 177, 177);
}

.password-form + div .invalid-message {
    color: #ef7070;
}

.invalid-message {
    margin-top: 5px;
    height: 15px;
}

.login-form-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.login-form-link:hover {
    text-decoration: underline;
}

.form-btn {
    cursor: pointer;
    height: 50px;
    background-color: #896da5;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 1.2rem;
}

.form-btn:hover {
    background-color: #78569b;
}

.form-btn:disabled {
    background-color: #9d8cad;
}

.form_closed {
    display: none;
}

.form-content {
}

.form-singIn {
}

.userEmail {
}

/* form=============================================== */






.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; /*Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}